{% extends "admin_template/base.html" %}

{%block content%}
<form style="margin-top: 10px;" method="POST" action="/add_category">
    {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Category Name</label>
          <input type="text" class="form-control" name="category" id="inputEmail4" placeholder="Enter Category">
        </div>
       
      </div>
      
      <button type="submit" class="btn btn-primary">Add Category</button>
    </form>


{% endblock %}