{% extends "admin_template/base.html" %}

{%block content%}

<section class="content">
    <div class="container-fluid">
      <a class="btn btn-primary" href="/add_dealer" role="button" style="margin-top: 10px;">+ Add Dealer</a> <br/>&nbsp;
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px;">{{message}}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px;">{{message}}</div>
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                  <h3 class="card-title">Dealer Deatails</h3>
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <!-- drop down for filter -->
                     
                      <!-- Enddrop down for filter -->
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Address</th>
                       <th>Date of Joining</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for dealer in dealers %}
                      <tr data-toggle="modal" data-target="#reply_modal">
                        <td>{{ dealer.admin.id }}</td>
                        <td>{{ dealer.admin.first_name }}  {{ dealer.admin.last_name }}</td>
                        <td>{{ dealer.admin.username }}</td>
                        <td>{{ dealer.admin.email }}</td>
                        <td>{{ dealer.mobile_number }}</td>
                        <td>{{ dealer.address }}</td>
                        <td>{{ dealer.created_at }}</td>

                        <td><a href="{% url 'edit_dealer' dealer.admin.id %}" class="btn btn-success">Edit</a>
                          <form action="{% url 'delete_dealer' dealer.admin.id %}" method="POST" onsubmit="window.ondelete()" style="display: inline;" id="hi">
                            {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Delete</button></td>
                        </form></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
              
              
    </div>
            <!-- /.card -->

           
    </div>
  </section>
  <!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="reply_modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reply</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
          <input type="hidden" id="reply_id" name="reply_id">
        <p>Reply <span id="reply_name"></span></p>
        <textarea class="form-control" rows="5" id="reply_message"></textarea>
        <button id="reply_btn" class="btn btn-info btn-block">Reply</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
<!-- /.content -->
  
</script>
  <script type="text/Javascript">
    window.ondelete= function(){
      var isValid =confirm('Are you sure Do you Want To Delete ?');
      if (!isValid){
        event.preventDefault();
        // alert("It Wont delete");
      }
    }
  </script>

{% endblock %}
