{% extends "admin_template/base.html" %}

{%block content%}
<a class="btn btn-outline-dark" style="margin-top: 10px;" href="{% url 'manage_dealer' %}">&#x2190; Back</a>

<div class="row">
    <div class="col-lg-6">
        <div class="banner-bootom-w3-agileits">
            <div class="container">
                <div class="col-md-5 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{{ dealers.imageURL }}">
                                    <div class="thumb-image">
                                        <img src="{{ dealers.imageURL }}" style="margin-top: 10px;" data-imagezoom="true" width="500px" class="img-responsive" alt=""> </div>
                                </li>
                            
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="col-md-7 single-right-left simpleCart_shelfItem">
            <h3>{{ dealers.admin.first_name }}</h3>
            <p>
                <span class="item_price">{{ dealers.address }}</span>
                <span>{{ dealers.mobile_number }}</span>
            </p>
            
     </div>
</div>

</div>

{% endblock %}
