{% extends "dealer_template/base.html" %}

{%block content%}

<form style="margin-top: 10px;" method="POST" action="/add_category_offers_save">
  {% csrf_token %}
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="inputEmail4">Offer Name</label>
        <input type="text" class="form-control" name="offer_name" id="inputEmail4" placeholder="Enter offer name">
      </div> -->
      <div class="form-group col-md-6">
        <label for="inputAddress">Offer Name</label>
        <input type="text" name="offer_name" class="form-control" id="inputAddress" min="0" placeholder="Enter the Name of the offer" required>
  
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Category</label>
        <select id="inputState" name="category" class="form-control">
          <!-- <option selected>Choose...</option> -->
        {% for category in categorys %}
          <option value="{{ category.id }}">{{ category.category_name }}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputAddress">Discount</label>
      <input type="number" name="discount_amount" class="form-control" id="inputAddress" min="0" placeholder="Enter the Discount in percentage" required>
      <input type="hidden" name="dealer" value="{{ request.user.id }}" id="hi">

    </div>
    </div>
    <button type="submit" class="btn btn-primary">Add offer</button>
  </form>
<script>
  a=document.getElementById("hi").value;
  console.log("hi",a);
</script>
{% endblock %}